.header-container {
  background: #fff !important;
  padding: 0 2rem;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.header-menu-avatar {
  margin-right: 1rem;
  background-color: #0283CD;
  vertical-align: middle;
}