.society-bureau-header {
  background: #fff !important;
  padding: 0 !important;
}

.society-bureau-header-container {
  padding: 0 2rem;
  height: 100%;
}

.header-menu-avatar {
  background-color: #0283CD;
  vertical-align: middle;
}