.drawer-handle {
  position: absolute;
  left: 0;
}

.drawer-handle-container {
  font-size: 21px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  width: 41px;
  height: 40px;
}