.society-bureau-container {
  height: 100vh;
  background-color: #f2f2f2;
}

.society-bureau-main-wrapper {
  overflow: auto;
  height: 100vh;
}

.society-bureau-sider-container {
  height: 100%;
  overflow: auto;
  background-color: #001529;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.society-bureau-content-wrapper {
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
}