.society-bureau-container {
  height: 100vh !important;
  background-color: #f2f2f2;
}

.society-bureau-main-wrapper {
  overflow: auto;
  height: 100%;
}

.society-bureau-sider-container {
  height: 100%;
  overflow: auto;
}

.society-bureau-content-wrapper {
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
}