.society-detail-container {
  background: #ffffff;
  padding: 10px;
}

.society-detail-card {
  margin: 20px 20px 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 540px;
  line-height: 540px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.society-detail-name {
  margin-top: -40px;
  font-size: 2rem;
  background: cornsilk;
  width: 20%;
}
