.society-list-container {
  .ant-list-item-meta {
    margin-bottom: 0 !important;
  }
  margin: 0 2rem;
}

.anticon-close-circle {
  margin-right: 5px;
}

.society-list-avatar {
  height: 100%;
  width: 100%;
  display: block;
}

.society-tag {
  margin-bottom: 5px;
}

.society-card-tag-container {
  margin-top: 1rem;
}