.society-list-container {
  padding: 0 2vh;
}

.society-list-header {

}

.society-list-body {
}

.anticon-close-circle {
  margin-right: 5px;
}

.society-card-tag-container {
  display: none;
  margin-top: 1rem;
}