.society-list-container {

}

.society-list-header {

}

.society-list-body {
}

.anticon-close-circle {
  margin-right: 5px;
}

.society-list-avatar {
  height: 100%;
  width: 100%;
  display: block;
}

.society-list-container {
  .ant-list-item-meta {
    margin-bottom: 0 !important;
  }
}

.society-tag {
  margin-bottom: 5px;
}