$primary-color: #69BEF7;

.generic-header {
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-color;
  justify-content: space-between;
  .generic-header-brand {
    display: inline-block;
  }
  .generic-header-menu {
    display: inline-block;
  }
}

.ant-menu {
  background-color: inherit !important;
}

.ant-menu-horizontal {
  border-bottom: 0 !important;
}

.ant-menu-submenu {
  border-bottom: 0 !important;
}

.ant-menu-item {
  border-bottom: 0 !important;
}

.generic-header-link {
  color: #fff !important;
}