$hover-color: #00FFCF;
$color: #FFF;

.home-header {
  padding-top: 1vh;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.home-header-brand {
  padding: 10px;
  font-size: 2rem;
  color: $color;
  letter-spacing: 2px;
  &:hover {
    color: $color;
  }
}

.home-header-link {
  line-height: 50px;
  font-size: 1.2rem;
  color: $color;
  letter-spacing: 5px;
  &:hover {
    color: $color !important;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background-color: $hover-color;
    visibility: hidden;
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover:before {
    transform: scaleX(1);
    visibility: visible;
  }
}

.center {
  height: 100%;
}

.generic-header {
  display: block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #69BEF7;
  .generic-header-brand {
    display: inline-block;
  }
  .generic-header-menu {
    display: inline-block;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ant-menu {
  background-color: inherit !important;
}

.ant-menu-horizontal {
  border-bottom: 0 !important;
}

.ant-submenu {
  border-bottom: 0 !important;
}

.ant-menu-item {
  border-bottom: 0 !important;
}

.generic-header-link {
  color: #fff !important;
}