$color: #00FFCF;

.home-container {
  background-image: url("../../../static/shape-bg.svg");
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -ms-background-position-y: bottom;
  background-position-y: bottom;

  ul.home-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    white-space: nowrap;
    .left {
      display: flex;
      flex-shrink: 1;
    }

    .right {
      display: flex;
      flex-shrink: 1;
    }
    
    .center {
      display: flex;
    }

  }
}

li.nav-item {
  position: relative;
  .brand {
    color: #fff;
    letter-spacing: 0.27rem;
  }

  .nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    letter-spacing: 5px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 3px;
      visibility: hidden;
      background-color: $color;
      transform: scaleX(0);
      transition: all 0.4s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}