$bg-dark: #001529;
$bg-light: #fff;
$color-dark: rgba(255,255,255,0.65);
$color-light: rgba(0,0,0,0.65);


.admin-layout-sider {

}

.admin-layout-main {
  .admin-layout-header {

  }
  .admin-layout-content {

  }
}

.dark-mode {

}

.light-mode {

}